/* footer */
footer {
    width: 100%;
    height: 192px;
    background: #f8f8f8;
    border-top: 1px solid #e9e9e9;
    box-sizing: border-box;
}

footer > ul {
    width: 1200px;
    height: 39px;
    margin: 0 auto;
    padding: 15px 0;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    text-align: center;
}
footer > ul > li {
    display: inline-block;
    font-weight: bold;
    border-left: 1px solid #d7d7d7;
    padding: 0 10px;
}
footer > ul > li:last-child {
    border-right: 1px solid #d7d7d7;
}

footer > div {
    width: 1200px;
    height: auto;
    padding-top: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

footer > div > p {
    float: left;
    height: 100%;
    font-size: 11px;
    line-height: 15px;
    color: #676767;
}

footer > div > p:nth-child(1) {}
footer > div > p:nth-child(2) {
    width: 300px;
    margin: 0 30px;
}
footer > div > p:nth-child(3) {}

footer > div > p > strong {
    display: inline-block;
    padding: 6px 15px 7px 0;
    color: #464646;
    font-size: 12px;
    font-weight: bold;
}

#goTop {
    position: fixed;
    left: 50%;
    margin-left: 600px;
    bottom: 10px;
    width: 42px;
    height: 42px;
    background-image: url("/Kmarket1/img/top.png");
    border: none;
    font-size: 0;
    cursor: pointer;
}